/* HEADER */

header .gradient-header{
    position: fixed;
    z-index: 10;
}

header .faixa-header{
    position: fixed;
    width: 24vw;
    height: 38vh;
}


/* @medias 'retrato' (Gradient) */

@media screen and (min-aspect-ratio: 950/1000) and (max-aspect-ratio: 1000/1000) and (orientation: portrait){
    header .faixa-header{
        width: 36vw;
        height: 34vh;
    }
}

@media screen and (min-aspect-ratio: 900/1000) and (max-aspect-ratio: 950/1000) and (orientation: portrait){
    header .faixa-header{
        width: 37vw;
        height: 33vh;
    }
}

@media screen and (min-aspect-ratio: 850/1000) and (max-aspect-ratio: 900/1000) and (orientation: portrait){
    header .faixa-header{
        width: 38vw;
        height: 32vh;
    }
}

@media screen and (min-aspect-ratio: 800/1000) and (max-aspect-ratio: 850/1000) and (orientation: portrait){
    header .faixa-header{
        width: 39vw;
        height: 31vh;
    }
}

@media screen and (min-aspect-ratio: 750/1000) and (max-aspect-ratio: 800/1000) and (orientation: portrait){
    header .faixa-header{
        width: 39vw;
        height: 30vh;
    }
}

@media screen and (min-aspect-ratio: 700/1000) and (max-aspect-ratio: 750/1000) and (orientation: portrait){
    header .faixa-header{
        width: 39vw;
        height: 29vh;
    }
}

@media screen and (min-aspect-ratio: 650/1000) and (max-aspect-ratio: 700/1000) and (orientation: portrait){
    header .faixa-header{
        width: 40vw;
        height: 28vh;
    }
}

@media screen and (min-aspect-ratio: 600/1000) and (max-aspect-ratio: 650/1000) and (orientation: portrait){
    header .faixa-header{
        width: 42vw;
        height: 26vh;
    }
}

@media screen and (min-aspect-ratio: 550/1000) and (max-aspect-ratio: 600/1000) and (orientation: portrait){
    header .faixa-header{
        width: 44vw;
        height: 24vh;
    }
}

@media screen and (min-aspect-ratio: 500/1000) and (max-aspect-ratio: 550/1000) and (orientation: portrait){
    header .faixa-header{
        width: 46vw;
        height: 22vh;
    }
}

@media screen and (min-aspect-ratio: 450/1000) and (max-aspect-ratio: 500/1000) and (orientation: portrait){
    header .faixa-header{
        width: 48vw;
        height: 20vh;
    }
}

@media screen and (min-aspect-ratio: 400/1000) and (max-aspect-ratio: 450/1000) and (orientation: portrait){
    header .faixa-header{
        width: 50vw;
        height: 18vh;
    }
}

@media screen and (min-aspect-ratio: 1/1000) and (max-aspect-ratio: 400/1000) and (orientation: portrait){
    header .faixa-header{
        width: 51vw;
        height: 17vh;
    }
}


/* @medias 'paisagem' (Gradient) */

@media screen and (min-aspect-ratio: 1000/1000) and (max-aspect-ratio: 1000/950) and (orientation: landscape){
    header .faixa-header{
        width: 36vw;
        height: 34vh;
    }
}

@media screen and (min-aspect-ratio: 1000/950) and (max-aspect-ratio: 1000/900) and (orientation: landscape){
    header .faixa-header{
        width: 35vw;
        height: 34vh;
    }
}

@media screen and (min-aspect-ratio: 1000/900) and (max-aspect-ratio: 1000/850) and (orientation: landscape){
    header .faixa-header{
        width: 33vw;
        height: 34vh;
    }
}

@media screen and (min-aspect-ratio: 1000/850) and (max-aspect-ratio: 1000/800) and (orientation: landscape){
    header .faixa-header{
        width: 31vw;
        height: 34vh;
    }
}

@media screen and (min-aspect-ratio: 1000/800) and (max-aspect-ratio: 1000/750) and (orientation: landscape){
    header .faixa-header{
        width: 29vw;
        height: 34vh;
    }
}

@media screen and (min-aspect-ratio: 1000/750) and (max-aspect-ratio: 1000/700) and (orientation: landscape){
    header .faixa-header{
        width: 28vw;
        height: 36vh;
    }
}

@media screen and (min-aspect-ratio: 1000/700) and (max-aspect-ratio: 1000/650) and (orientation: landscape){
    header .faixa-header{
        width: 27vw;
        height: 36vh;
    }
}

@media screen and (min-aspect-ratio: 1000/650) and (max-aspect-ratio: 1000/600) and (orientation: landscape){
    header .faixa-header{
        width: 25vw;
        height: 37vh;
    }
}

@media screen and (min-aspect-ratio: 1000/600) and (max-aspect-ratio: 1000/550) and (orientation: landscape){
    header .faixa-header{
        width: 25vw;
        height: 38vh;
    }
}

@media screen and (min-aspect-ratio: 1000/550) and (max-aspect-ratio: 1000/500) and (orientation: landscape){
    header .faixa-header{
        width: 24vw;
        height: 38vh;
    }
}

@media screen and (min-aspect-ratio: 1000/500) and (max-aspect-ratio: 1000/450) and (orientation: landscape){
    header .faixa-header{
        width: 21vw;
        height: 38vh;
    }
}

@media screen and (min-aspect-ratio: 1000/450) and (max-aspect-ratio: 1000/400) and (orientation: landscape){
    header .faixa-header{
        width: 19vw;
        height: 38vh;
    }
}

@media screen and (min-aspect-ratio: 1000/400) and (max-aspect-ratio: 1000/1) and (orientation: landscape){
    header .faixa-header{
        width: 17vw;
        height: 38vh;
    }
}

.logo-pagina{
    position: absolute;
    top: -9vh;
    left: -3vh;
    width: 38vh;
}


/* @medias 'retrato' (Logo-pagina) */

@media screen and (min-aspect-ratio: 950/1000) and (max-aspect-ratio: 1000/1000) and (orientation: portrait){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 27vh
    }
}

@media screen and (min-aspect-ratio: 900/1000) and (max-aspect-ratio: 950/1000) and (orientation: portrait){
    .logo-pagina{
        top: -4vh;
        left: -1.5vh;
        width: 26vh
    }
}

@media screen and (min-aspect-ratio: 850/1000) and (max-aspect-ratio: 900/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 25vh
    }
}

@media screen and (min-aspect-ratio: 800/1000) and (max-aspect-ratio: 850/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 24vh
    }
}

@media screen and (min-aspect-ratio: 750/1000) and (max-aspect-ratio: 800/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 23vh
    }
}

@media screen and (min-aspect-ratio: 700/1000) and (max-aspect-ratio: 750/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 22vh
    }
}

@media screen and (min-aspect-ratio: 650/1000) and (max-aspect-ratio: 700/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 21vh
    }
}

@media screen and (min-aspect-ratio: 600/1000) and (max-aspect-ratio: 650/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 20vh
    }
}

@media screen and (min-aspect-ratio: 550/1000) and (max-aspect-ratio: 600/1000) and (orientation: portrait){
    .logo-pagina{
        top: -3vh;
        left: -1.5vh;
        width: 19vh
    }
}

@media screen and (min-aspect-ratio: 500/1000) and (max-aspect-ratio: 550/1000) and (orientation: portrait){
    .logo-pagina{
        top: -2.5vh;
        left: -1.5vh;
        width: 18vh
    }
}

@media screen and (min-aspect-ratio: 450/1000) and (max-aspect-ratio: 500/1000) and (orientation: portrait){
    .logo-pagina{
        top: -2.5vh;
        left: -1.5vh;
        width: 17vh
    }
}

@media screen and (min-aspect-ratio: 400/1000) and (max-aspect-ratio: 450/1000) and (orientation: portrait){
    .logo-pagina{
        top: -2.5vh;
        left: -1.5vh;
        width: 16vh
    }
}

@media screen and (min-aspect-ratio: 350/1000) and (max-aspect-ratio: 400/1000) and (orientation: portrait){
    .logo-pagina{
        top: -2.5vh;
        left: -1.5vh;
        width: 15vh
    }
}

@media screen and (min-aspect-ratio: 1/1000) and (max-aspect-ratio: 350/1000) and (orientation: portrait){
    .logo-pagina{
        top: -2.5vh;
        left: -1.5vh;
        width: 14vh
    }
}


/* @medias 'paisagem' (Logo-pagina) */

@media screen and (min-aspect-ratio: 1000/1000) and (max-aspect-ratio: 1000/950) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 27.5vh
    }
}

@media screen and (min-aspect-ratio: 1000/950) and (max-aspect-ratio: 1000/750) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 28vh
    }
}

@media screen and (min-aspect-ratio: 1000/750) and (max-aspect-ratio: 1000/700) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 28.5vh
    }
}

@media screen and (min-aspect-ratio: 1000/700) and (max-aspect-ratio: 1000/650) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 29vh
    }
}

@media screen and (min-aspect-ratio: 1000/650) and (max-aspect-ratio: 1000/600) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 29vh
    }
}

@media screen and (min-aspect-ratio: 1000/600) and (max-aspect-ratio: 1000/550) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -2vh;
        width: 31vh
    }
}

@media screen and (min-aspect-ratio: 1000/550) and (max-aspect-ratio: 1000/500) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -1.5vh;
        width: 31vh
    }
}

@media screen and (min-aspect-ratio: 1000/500) and (max-aspect-ratio: 1000/1) and (orientation: landscape){
    .logo-pagina{
        top: -4vh;
        left: -1.5vh;
        width: 31.5vh
    }
}

header .nav-header{
    position: fixed;
    width: 10vw;
    height: 40vh;
    z-index: 10;
    font-size: 1.5vh;
}

.menu-navegacao{
    position: absolute;
    background-color: none;
    height: 48vh;
    width: 20vh;
    top: 28em;
    left: .5em;
    z-index: 10;
}


/* @medias 'retrato' (menu-navegacao) */

@media screen and (orientation: portrait){
    .menu-navegacao{
        display: none;
    }
}

.menu-navegacao li{
    position: absolute;
}

.menu-navegacao li img{
    position: absolute;
    width: 9vh;
    font-size: 10vh;
    border-radius: 1vh;
    box-shadow: 0vh 0vh .5vh .1vh black;
    transition: 1s;
}

.menu-navegacao li img:hover{
    transform: scale(1.1);
    border-radius: 1.5vh;
    transition: 1s ease;
}

.primeira-secao img{
    height: 8vh;
    top: 8vh;
    left: 2vh;
    cursor: pointer;
}

.segunda-secao img{
    height: 8vh;
    top: 22vh;
    left: 2vh;
    cursor: pointer;
}

.terceira-secao img{
    height: 8vh;
    top: 36vh;
    left: 2vh;
    cursor: pointer;
}


/* BACKGROUNDS */

.background-image-1{
    background: url("../img/background_page_1_large.jpg");
    background-position: 50% 0;
}


/* @medias 'retrato' (Background-image-1) */

@media screen and (min-aspect-ratio: 850/1000) and (max-aspect-ratio: 1000/1000) and (orientation: portrait){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -15vh;
    }
}

@media screen and (min-aspect-ratio: 700/1000) and (max-aspect-ratio: 850/1000) and (orientation: portrait){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -20vh;
    }
}

@media screen and (min-aspect-ratio: 550/1000) and (max-aspect-ratio: 700/1000) and (orientation: portrait){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -22vh;
    }
}

@media screen and (min-aspect-ratio: 450/1000) and (max-aspect-ratio: 550/1000) and (orientation: portrait){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -24vh;
    }
}

@media screen and (min-aspect-ratio: 1/1000) and (max-aspect-ratio: 450/1000) and (orientation: portrait){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -30vh;
    }
}


/* @medias 'paisagem' (Background-image-1) */

@media screen and (min-aspect-ratio: 1000/1000) and (max-aspect-ratio: 1000/800) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -8vh;
    }
}

@media screen and (min-aspect-ratio: 1000/800) and (max-aspect-ratio: 1000/700) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left -2vh;
    }
}

@media screen and (min-aspect-ratio: 1000/700) and (max-aspect-ratio: 1000/550) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom 0vh left 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/550) and (max-aspect-ratio: 1000/500) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom -5vh left 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/500) and (max-aspect-ratio: 1000/450) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom -5vh left 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/450) and (max-aspect-ratio: 1000/400) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom -14vh left 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/400) and (max-aspect-ratio: 1000/1) and (orientation: landscape){
    .background-image-1{
        background: url("../img/background_page_1_large.jpg");
        background-position: bottom -25vh left 0vh;
    }
}


.background-image-2{
    background: url("../img/background_page_2_large.jpg");
    background-position: 50% -15vh;
}


/* @medias 'retrato' (Background-image-2) */

@media screen and (min-aspect-ratio: 1/1000) and (max-aspect-ratio: 400/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -46vh 12vh;
    }
}

@media screen and (min-aspect-ratio: 400/1000) and (max-aspect-ratio: 450/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -45vh 12vh;
    }
}

@media screen and (min-aspect-ratio: 450/1000) and (max-aspect-ratio: 550/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -43.5vh 12vh;
    }
}

@media screen and (min-aspect-ratio: 550/1000) and (max-aspect-ratio: 600/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -42vh 8vh;
    }
}

@media screen and (min-aspect-ratio: 600/1000) and (max-aspect-ratio: 650/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -40vh 8vh;
    }
}

@media screen and (min-aspect-ratio: 650/1000) and (max-aspect-ratio: 700/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -38vh 6vh;
    }
}

@media screen and (min-aspect-ratio: 700/1000) and (max-aspect-ratio: 750/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -36vh 6vh;
    }
}

@media screen and (min-aspect-ratio: 750/1000) and (max-aspect-ratio: 800/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -33vh 6vh;
    }
}

@media screen and (min-aspect-ratio: 800/1000) and (max-aspect-ratio: 850/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -32vh 6vh;
    }
}

@media screen and (min-aspect-ratio: 850/1000) and (max-aspect-ratio: 900/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -30vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 900/1000) and (max-aspect-ratio: 1000/1000) and (orientation: portrait){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -27vh 0vh;
    }
}


/* @medias 'paisagem' (Background-image-2) */

@media screen and (min-aspect-ratio: 1000/1000) and (max-aspect-ratio: 1000/950) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -16vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/950) and (max-aspect-ratio: 1000/900) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -14vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/900) and (max-aspect-ratio: 1000/850) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -12vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/850) and (max-aspect-ratio: 1000/800) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -10vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/800) and (max-aspect-ratio: 1000/750) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -9vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/750) and (max-aspect-ratio: 1000/700) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -7vh 0vh;
    }
}

@media screen and (min-aspect-ratio: 1000/700) and (max-aspect-ratio: 1000/650) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -5vh -6vh;
    }
}

@media screen and (min-aspect-ratio: 1000/650) and (max-aspect-ratio: 1000/600) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -7vh -8vh;
    }
}

@media screen and (min-aspect-ratio: 1000/600) and (max-aspect-ratio: 1000/550) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -5vh -12vh;
    }
}

@media screen and (min-aspect-ratio: 1000/550) and (max-aspect-ratio: 1000/500) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -4vh -15vh;
    }
}

@media screen and (min-aspect-ratio: 1000/500) and (max-aspect-ratio: 1000/450) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -5vh -17vh;
    }
}

@media screen and (min-aspect-ratio: 1000/450) and (max-aspect-ratio: 1000/400) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -6vh -17vh;
    }
}

@media screen and (min-aspect-ratio: 1000/400) and (max-aspect-ratio: 1000/1) and (orientation: landscape){
    .background-image-2{
        background: url("../img/background_page_2_large.jpg");
        background-position: -7vh -19vh;
    }
}

.first-section{
    box-shadow: .1vh .1vh 1vh .1vh black;
    z-index: 9;
    overflow: hidden;
}

.second-section{
    overflow: hidden;
    box-shadow: .1vh .1vh 1vh .1vh black;
    z-index: 8;
}

.third-section{
    overflow: hidden;
    z-index: 7;
    box-shadow: .1vh .1vh 1vh .1vh black;
}

/* FOOTER */

footer{
    position: fixed;
     z-index: 10;
    background-color: none;
    height: 8vh;
    width: 20vh;
    font-size: 1.5vh;
    top: 61em;
    left: .5em;
}

/* @medias 'retrato' (menu-redes-sociais) */

@media screen and (orientation: portrait){
    .menu-redes-sociais{
        display: none;
    }
}

.menu-redes-sociais li img{
    position: absolute;
    font-size: 10vh;
}

.menu-redes-sociais li img:hover{
    transform: scale(1.1);
    transition: .7s;
    transition-timing-function: cubic-bezier(.2, 5, 0, 0);
}

.facebook-icone img{
    top: 4vh;
    left: 0.2vh;
    width: 4.1vh;
}

.instagram-icone img{
    top: 4vh;
    left: 4.7vh;
    width: 4vh;
}

.whatsapp-icone img{
    top: 4vh;
    left: 9.2vh;
    width: 4vh;
}

/* Fixed Background */

.fixed-background{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}